<footer class="text-center" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-light">
          Copyright &copy; 2019 All Rights Reserved By
          <span>Yi's Blog</span>
        </p>
      </div>
    </div>
  </div>
  <a href="#video-background-blogs" id="back-to-home" class="btn btn-sm btm-dark btn-back-to-home smooth-scroll"
    title="home" role="button">
    <i class="fa fa-arrow-circle-up"></i>
  </a>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
  integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
  integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
<script src="wow.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP5UTFMiOPMMjSHN1Imhf4BQKb0XwJ0Jg&callback=initMap"
  type="text/javascript"></script>
<script src="jquery.responsiveTabs.min.js"></script>
<script src="main.js"></script>
</body>

</html>