body {
  font-family: "Montserrat", sans-serif;
}

/* #navbar */
.navbar-menu {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)); */
  padding: 15px;
  transition: all 300ms linear;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  transition: color 0.5s;
}

.menu-item:hover {
  color: black;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
}
/* #endnavbar*/

/* #banner */
.banner {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.banner-heading {
  animation-name: banner-animation;
  animation-duration: 2s;
  color: black;
}

.banner-paragraph {
  animation-name: banner-animation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  color: black;
  font-size: 30px;
}

@keyframes banner-animation {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* #backgroundVideo*/
.video-container {
  top: 0;
  left: 0;
  max-height: 655px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  overflow: hidden;
}

.bg-video {
  object-fit: cover;
}
/* #endBackgroundVideo*/

/* #experience */
/* #myExperienceHeading */
.underline {
  width: 150px;
  border: 3px solid black;
  margin: auto;
}
/* #endMyExperienceHeading */

@keyframes show-company-logo {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes show-experience-text {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.show-deloitte-logo {
  animation-name: show-company-logo;
  animation-duration: 2s;
}

.show-deloitte-text {
  animation-name: show-experience-text;
  animation-duration: 2s;
}

.show-un-logo {
  animation-name: show-company-logo;
  animation-duration: 2s;
}

.show-un-text {
  animation-name: show-experience-text;
  animation-duration: 2s;
}
.show-rbc-logo {
  animation-name: show-company-logo;
  animation-duration: 2s;
}

.show-rbc-text {
  animation-name: show-experience-text;
  animation-duration: 2s;
}

.show-pwc-logo {
  animation-name: show-company-logo;
  animation-duration: 2s;
}

.show-pwc-text {
  animation-name: show-experience-text;
  animation-duration: 2s;
}

/* login form */
.login-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

/* signup form */
.signup-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

/* show blogs */
.show-blogs {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

/*-------------------------------
            Preloader
---------------------------------*/
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#status {
  background-image: url("./images/preloader.gif");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

/*-------------------------------
            Arrow-Down
---------------------------------*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: black;
  font-size: 32px;
}

/*-------------------------------
            About
---------------------------------*/
#about-me-heading {
  position: relative;
}
#about-me {
  position: relative;
  padding-top: 75px;
  animation-name: fadeInLeft;
}
#about-penn {
  position: relative;
  padding-top: 75px;
}
#about-ut {
  position: relative;
  padding-top: 75px;
}

/*-------------------------------
            Gallery
---------------------------------*/

.gallery-category {
  cursor: pointer;
  user-select: none;
}

/*-------------------------------
            Google Map
---------------------------------*/

#map {
  height: 400px;
  width: 100%;
}

/*-------------------------------
            White Navbar
---------------------------------*/
.white-navbar {
  padding: 15px;
  background: #fff;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

.white-navbar #myNavbar ul li a:hover {
  color: red;
}

/*-------------------------------
            Buttons
---------------------------------*/
.btn-back-to-home {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  color: black;
  display: none;
}
