html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* #navbar */
.navbar-menu {
  /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)); */
  padding: 15px;
  transition: all 300ms linear;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  transition: color 0.5s;
}

.menu-item:hover {
  color: black;
}

.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
}

/* #endnavbar*/

/* #banner */
.banner {
  position: absolute;
  top: 50%;
  left: 62%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.banner-heading {
  animation-name: banner-animation;
  animation-duration: 2s;
  color: black;
}

.banner-paragraph {
  animation-name: banner-animation;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
  color: black;
  font-size: 30px;
}

.banner-social-media {
  animation-name: banner-animation;
  animation-duration: 2s;
  animation-delay: 1s;
}

@keyframes banner-animation {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* #backgroundVideo*/
.video-container {
  top: 0;
  left: 0;
  max-height: 655px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  overflow: hidden;
}



.video-container-blogs {
  top: 0;
  left: 0;
  max-height: 655px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
  overflow: hidden;

  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  background-size: cover; */
}

.video-container-blogs-overlay {
  position: absolute;
  width: 100%;
  height: 715px;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5); */
}


.bg-video {
  object-fit: cover;
}

/* #endBackgroundVideo*/

/* #experience */
/* #myExperienceHeading */
.underline {
  width: 150px;
  border: 3px solid black;
  margin: auto;
}

/* #endMyExperienceHeading */

/* login form */
.login-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border: none;
}

/* signup form */
.signup-form {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  border: none;
}

/* show blogs */
.show-blogs {
  position: relative;
  /* top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; */
}

/*-------------------------------
            Preloader
---------------------------------*/
#preloader {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

#status {
  background-image: url("./images/preloader.gif");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
}

/*-------------------------------
            Arrow-Down
---------------------------------*/
#arrow-down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  color: black;
  font-size: 32px;
}

/*-------------------------------
            About
---------------------------------*/
#about-me-heading {
  position: relative;
}

#about-me {
  position: relative;
  padding-top: 75px;
  animation-name: fadeInLeft;
}

#about-penn {
  position: relative;
  padding-top: 75px;
}

#about-ut {
  position: relative;
  padding-top: 75px;
}

/*-------------------------------
            Gallery
---------------------------------*/

.gallery-category {
  cursor: pointer;
  user-select: none;
}

#gallery-row .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

#gallery-row .row .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

#gallery-row .row .column img {
  margin-top: 8px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  #gallery-row .row .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  #gallery-row .row .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*-------------------------------
            Google Map
---------------------------------*/

#map {
  height: 400px;
  width: auto;
}

/*-------------------------------
            White Navbar
---------------------------------*/
.white-navbar {
  padding: 15px;
  background: #fff;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

.white-navbar #myNavbar ul li a:hover {
  color: red;
}

.black-navbar {
  padding: 15px;
  background: black;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}

/*-------------------------------
            Buttons
---------------------------------*/
.btn-back-to-home {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 30px;
  color: blue;
  display: none;
}

/*-------------------------------
            Social Media Icon
---------------------------------*/
ul#social-media-icon {
  padding-right: 15px;
}

ul#social-media-icon li {
  display: inline-block;
  width: 50px;
  height: 50px;
}

ul#social-media-icon li a {
  padding-top: 12.5px;
  color: black;
  font-size: 20px;
}

ul#social-media-icon li a:hover {
  padding-top: 12.5px;
  color: blue;
  transition: all 0.35s ease;
}

/*-------------------------------
        My Experiences
---------------------------------*/
.my-experience {
  background-color: #f4f4f4;
}

#experience-tabs ul {
  margin-bottom: 20px;
}

#experience-tabs ul a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 30px;
}

#experience-tabs ul a:hover {
  color: black
}

/*-------------------------------
            Blogs
---------------------------------*/
/* #blogs {
  position: absolute;
  top: 800px;
  margin-top: 100px;
  left: 50%;
  transform: translateX(-50%) translateY(-50%)
} */

#blogs {
  margin-top: 175px;
  margin-bottom: 100px;
}

#welcome-message {
  position: relative;
  z-index: 2;
  color: white;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: all 300ms linear;
}

#welcome-message h2,
#welcome-message h4,
#welcome-message button {
  margin-bottom: 20px;
}

#welcome-message button {
  margin-top: 30px;
  animation-delay: 1.5s;
  animation-duration: 1s;
}

#welcome-message h2 {
  animation-duration: 1s;
}

#welcome-message h4 {
  animation-delay: 0.5s;
  animation-duration: 1s;
}

.contact-form {
  border: none;
}

/*-------------------------------
            Footer
---------------------------------*/

footer {
  background: black;
}

/*-------------------------------
          Individual Blog
---------------------------------*/

#individual-blog {
  /* padding-top: 100px; */
  margin-top: 175px;
  margin-bottom: 100px;
  padding-top: 0;
}

/*-------------------------------
            Comments
---------------------------------*/

#comments {
  background-color: #f4f4f45e;
}

#add-comment-bg-image {
  background-image: url("images/add-comment.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.add-comment-overlay {
  position: absolute;
  width: 100%;
  height: 715px;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 2;
}

.add-comment-overlay #comment-area {
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  height: 200px;
}